body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration:none;
    color:#fff;
}

a:hover {
    color:#DDD;
}

h1 {
    font-size:60px;
    color:#fff;
    text-align:center;
}

h2 {
    font-size:42px;
}

.quote {
    border-left: 2px solid #75B982;
    line-height:115%;
    font-weight:400;
    font-size:35px;
    text-align:center;
}

.emphasis {
    text-shadow:4px 8px 16px #000;
}

#header {
    position:fixed;
    width:100%;
    height:7%;
    margin-top:-8px;
    margin-left:-8px;
    background-color:#1565C0;
}

.header-content {
    margin:16px;
    float:right;
    border-color:none;
    color:#fff;
    font-size:15px;
    font-weight:700;
    text-shadow:4px 8px 16px #000;
}

#home {
    width:inherit;
    height:95%;
    margin-left:-8px;
    margin-right:-8px;
    background-color:#1793D0;
    color:#fff;
    text-align:center;
}

#about {
    width:inherit;
    height:100%;
    margin-left:-8px;
    margin-right:-8px;
    background-color:#1D5E93;
}

#about-left {
    padding-left:10px;
    width:45%;
    height:inherit;
    color:#fff;
    font-size:13.5px;
    font-weight:100;
    line-height:175%;
    text-align:justify;
    float:left;
}

#about-right {
    padding-left:6em;
    width:45%;
    height:inherit;
    color:#fff;
    font-size:13.5px;
    font-weight:100;
    line-height:160%;
    text-align:justify;
    float:left;
}

#projects {
    width:inherit;
    height:100%;
    margin-left:-8px;
    margin-right:-8px;
    background-color:08A48C;
}

#contact {
    width:inherit;
    height:90%;
    margin-left:-8px;
    margin-right:-8px;
    background-color:#E46854;
}

#bottom-bar {
    width:inherit;
    height:8%;
    margin-left:-8px;
    margin-right:-8px;
    background-color:#000;
}
