body {
    font-family: 'Ruluko', serif;
    margin-bottom:-8px;
}

a {
    text-decoration:none;
    color:#fff;
}

a:hover {
    color:#DDD;
}

h1 {
    font-size:60px;
    color:#fff;
    text-align:center;
}

h2 {
    font-size:28px;
    line-height:120%;
}

h3 {
    font-size:16px;
    font-weight:300;
}

p {
    text-shadow:none;
    font-size:15px;
    font-weight:100;
}

img {
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform 0.6s ease-in-out;
}
img:hover {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.emphasis {
    font-size:42px;
    text-shadow:4px 8px 16px #000;
}

.about-title {
    text-align:center;
    color:#1D5E93;
}

.small-icon {
    width:3%;
    padding-left:1em;
    margin-top:6em;
}

.quote {
    border-left: 8px solid #75B982;
    border-right: 8px solid #75B982;
    text-align:center;
}

#header {
    position:fixed;
    width:100%;
    height:7%;
    margin-top:-8px;
    margin-left:-8px;
    background-color:#1565C0;
}

.header-content {
    margin:16px;
    float:right;
    border-color:none;
    color:#fff;
    font-size:15px;
    font-weight:700;
    text-shadow:4px 8px 16px #000;
}

#home {
    width:inherit;
    height:100%;
    margin-left:-8px;
    margin-right:-8px;
    background-color:#1793D0;
    color:#fff;
    text-align:center;
}

#MIT {
    height:14em;
    border-radius:50%;
    vertical-align:middle;
    float:left;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform 0.6s ease-in-out;
}

#MIT:hover {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
}

#about {
    width:inherit;
    height:100%;
    margin-left:-8px;
    margin-right:-8px;
    background-color:#fff;
    color:#1D5E93;
}

#about-left {
    padding-left:10px;
    width:18%;
    height:inherit;
    color:#1D5E93;
    font-size:14px;
    font-weight:100;
    line-height:175%;
    text-align:justify;
    float:left;
}

#about-middle {
    padding-left:2em;
    width:35%;
    height:inherit;
    color:#1D5E93;
    font-size:14px;
    font-weight:100;
    line-height:175%;
    text-align:justify;
    float:left;
}

#about-right {
    padding-left:2em;
    width:35%;
    height:inherit;
    color:#1D5E93;
    font-size:14px;
    font-weight:100;
    line-height:175%;
    text-align:justify;
    float:left;
}

#projects {
    width:inherit;
    height:100%;
    margin-left:-8px;
    margin-right:-8px;
    background-color:#339FDE;
    color:#fff;
}

#projects-left {
    padding-left:10px;
    width:30%;
    height:inherit;
    color:#fff;
    font-size:14px;
    font-weight:100;
    line-height:175%;
    text-align:justify;
    float:left;
}

#projects-middle {
    padding-left:2em;
    width:30%;
    height:inherit;
    color:#fff;
    font-size:14px;
    font-weight:100;
    line-height:175%;
    text-align:justify;
    float:left;
}

#projects-right {
    padding-left:2em;
    width:30%;
    height:inherit;
    color:#fff;
    font-size:14px;
    font-weight:100;
    line-height:175%;
    text-align:justify;
    float:left;
}

#contact {
    width:inherit;
    height:90%;
    margin-top:-40px;
    margin-left:-8px;
    margin-right:-8px;
    background-color:#08A48C;
}

#bottom-bar {
    width:inherit;
    height:6%;
    margin-left:-8px;
    margin-right:-8px;
    background-color:#000;
}

#bottom-content {
    width:inherit;
    height:inherit;
    padding:0.5em;
    float:right;
    font-size:18px;
    color:#fff;
}